/* <!-- Секция герой --> */

.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.7)
    ),
    url(../images/web-studio/hero/hero-img-opt.jpg);
  background-color: black;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.39;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  padding: 10px 32px;
  cursor: pointer;
}

.hero-content {
  padding: 200px 0px;
}

/* Бекдроп */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .hero-modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.hero-modal {
  position: relative;
  width: 528px;
  height: 581px;

  top: 50%;
  left: 50%;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closed-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 6px;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

/* <!-- Секция преимущества --> */

.features-items {
  display: flex;
  padding-top: 94px;
}

.features-items .item + .item {
  margin-left: 30px;
}

.features-items .item {
  width: 270px;
}

/* иконки */
.features-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 120px;
  background-color: var(--secondary-bg-color);
}

.features-icons-container svg {
  width: 70px;
  height: 70px;
}

.features-subtitle {
  margin-top: 55px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--accent-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-items {
  display: flex;
}

.about-items img {
  display: block;
}

.about-items .about-item-box + .about-item-box {
  margin-left: 30px;
}

.about-item-box {
  position: relative;
  display: flex;
  z-index: 0;
}

.about-items-subtitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;

  width: 370px;
  height: 70px;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  background: rgba(47, 48, 58, 0.8);
}

/* <!-- Секция Наша команда --> */
.team {
  background-color: var(--secondary-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  display: flex;
}

.team-item img {
  display: block;
}

.team-item .item + .item {
  margin-left: 30px;
}

.team-item .name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-item .function {
  margin-top: 10px;
  margin-bottom: 16px;

  color: var(--accent-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-social {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  /* fill: var(--primary-bg-color); */
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill;
}

.team-social-link:hover svg,
.team-social-link:focus svg {
  fill: var(--primary-bg-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Секция постоянные клиенты  */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  background-color: var(--primary-bg-color);
  transition: border-color;
}

.clients-logo-link:hover,
.clients-logo-link:focus {
  border-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo-link svg {
  transition: fill;
}

.clients-logo-link:hover svg,
.clients-logo-link:focus svg {
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo-link-svg-1 {
  width: 44px;
  height: 49px;
  fill: #afb1b8;
}

.clients-logo-link-svg-2 {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
}
.clients-logo-link-svg-3 {
  width: 41px;
  height: 42px;
  fill: #afb1b8;
}
.clients-logo-link-svg-4 {
  width: 80px;
  /* height: 42px; */
  fill: #afb1b8;
}
.clients-logo-link-svg-5 {
  width: 59px;
  height: 47px;
  fill: #afb1b8;
}
.clients-logo-link-svg-6 {
  width: 88px;
  /* height: 45px; */
  fill: #afb1b8;
}

.clients-items {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  /* margin-bottom: -30px; */
}

.clients-items .item {
  flex-basis: calc((100% - 6 * 30px) / 6);
  width: 170px;
  margin-right: 30px;
  /* margin-bottom: 30px; */
}
